<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    
      <!--Import materialize.css-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.typekit.net/wxn1foe.css">
    <title>Find Joey&copy;</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/html" rel="stylesheet" href="../../public/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel='sytlesheet' href="../../public/stylesheets/styles.css" />
  </head>
  <body>

    <style>
      body { text-align:center; }
    </style>
   
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <% flash.keys.each do |type| %>
            <div data-alert class="flash <%= type %> alert-box radius">
              <span class="card-title">Alert</span>
              <p>There has been an error or info alert. With the following message:
              <%= type %></p>
            </div>
            <div class="card-action">
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>

    <footer class="page-footer">
      <div class="container">
        <div class="row col l6">
           <h5 class="white-text">Find Joey</h5>
             <p class="grey-text text-lighten-4">A website for reporting missing / found dogs.</p>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy 2020 Find Joey - Maynard J. Hartman, Jr.</p>
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </footer>  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
</html>
