<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://use.typekit.net/wxn1foe.css">
    <title>Find Joey&copy;</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel='sytlesheet' href="materialize/css/main.css" />
    <link rel="stylesheet/less" type="text/css" href="stylesheets/styles.less" />
    
  </head>
  <body>
    <style>
      body { text-align:center; }
    </style>
  <div class='container'>
    <!-- refactor this to enable placement under the line the error occurred on -->
    <% flash.keys.each do |type| %>
    <div data-alert class="flash alert-box radius">
    <div class="col s6 m6 l6 column-offset ">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= flash[type] %></span>
          <p>An Error Has Occured</p>
        </div>
        <div class="card-action">
          <a href="http://127.0.0.1:9393/sessions/login">Retry</a>
        </div>
      </div>
    </div>
  </div>
      <a href="127.0.0.1:9393" class="close">&times;</a>
  </div>
    <% end %>
  
        <%= yield %>

<footer class="page-footer">
          <div class="container">
            <div class="row col l6">
              <div class="col l6 s12">
                <h5 class="white-text">Find Joey</h5>
                <p class="grey-text text-lighten-4">A dog lost/found reporting website.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Find Joey - Maynard J. Hartman, Jr.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>  
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
</html>
