<div class="container">
    <div class="col s6 offset-s3"><span class="flow-text"><h1>Welcome, To Find Joey</h1></span>
      <div class="content">
      <header>Login Portal</header>
        <img src="/images/FindJoeyLogo.png" height="600" width="600">
      </header>
      </div>
    </div>  
    <div class="container" style=text-align: center; >
      <a href="/session/login">Login </a>
      <a href="/session/signup"> Signup</a>
    </div>
    
</div>
<!--
-->