
<div class="container" >
      
    <h2>Find Joey</h2>
      <div>
          <img src="/images/dog_1.jpg" style="text-align: center; margin: 20px;">
          <div class="input-field col s6">
          <form method="post" action='/sessions/login' />
            <label for='email' class='label'>Email:</label>
            <input type="text" name='email'>
            <label for='password' class='label'>Password:</label>
            <input type='password' name='password'/>
            <input type='submit' value='Login'/>
         </form>
         </div>
         </img>
      </div>
</div>