
<div class="container" >
      
    <h2>Find Joey</h2>
      <div>
          <img src="/images/dog_1.jpg" style="text-align: center; margin: 20px;">
          <div class="input-field col s8">
          <form method="POST" action='/sessions/login' />
            <label for='email' class="label" >Email:</label>
            <input type="text" name='user_email' size=30 value="" />
            <label for='password' class="label" style="width: 640px;">Password:</label>
            <input type='password' name='password' size=30 value="" />
            <input type='submit' value='Login'/>
         </form>
      </div>
         </img>
      </div>
</div>