<div class="container" style='height: 70%, height: 70%'>
    <img src="../public/images/dog-yellow-lab.jpg" alt="Picture Of a Yellow Labrador">
    <span>Thank you for using FindJoey.  We hope that you pet gets returned to you soon.</span>
    <span>Check back often as new reports come in realtime. </span>

</div>