
<div class="container" >
    <h1>Find Joey</h1>
    <h2>Login</h2>
      <div>
          <img src="/images/dog_1.jpg" style="text-align: center; margin: 20px;" />
          <div class="input-field col s6" style="text-align: center;">
          <form class="form-data" method="POST" action='/session/login' >
            <label for='email' class='label'>Email:  </label>  <input class="standard-input" type="text" name='email' required><br />
            <label for='password' class='label' required>Password:</label><input class="standard-input" type='password' name='password' required><br />
            <input type='submit' value='Login'/>
         </form>
         </div>
      </div>
</div>