<div style="dispaly flex">
    <form method="POST" action="/users/signup">
    <div class="row">
        <div class="input-field col s6">
          <input id="fname" type="text" data-length="30">
          <label for="fname">First Name:</label>
        </div>
       <div class="input-field col s6">
           <input id="lname" type="text" data-length="30">
           <label for="lname">Last Name:</label>
    </div>
    <div class="row">
        <div class="input-field col s6">
           <input id="addr_1" type="text" data-length="30" name='addr_1'>
           <label for="addr_1">Address 1:</label>
        </div>
        <div class="input-field col s6">
           <input id="addr_2" type="text" data-length="30" name='addr_2'>
           <label for="addr_2">Address 2:</label>
        </div>
    </div> 

    <div class="row">
        <div class="input-field col s6">
           <input id="city" type="text" data-length="25" name='city'>
           <label for="city">City:</label>
        </div>
        <div class="input-field col s6">
           <input id="zipcode" type="text" data-length="10" name='zipcode'>
           <label for="zipcode">Zipcode:</label>
        </div>
        <div class='input-field col s6'>
            <input id='state' type='text' data-length='10' name='state'>
            <label for-'state'>State:</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
           <input id="email" type="text" data-length="50" name='email'>
           <label for="email">Email:</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
           <input id="phone_1" type="tel" data-length="12" name='phone_1'>
           <label for="phone_1">Phone #1:</label>
        </div>
        <div class="input-field col s6">
           <input id="phone_2" type="tel" data-length="12" name='phone_2'>
           <label for="phone_2">Phone #2:>:</label>
        </div>
    </div>
        <p>
            <label>
                <input type="checkbox" checked="checked" name='is_missing'/>
                <span>Has Pets Missing:</span>
            </label>
        </p>
        <input type="submit" value="Signup">
    </form>
</div>
  