
<div data-alert class="flash alert-box radius">
    <div class="col s12 m6 l6 column-offset 3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= flash[type] %></span>
          <p>An Event Has Occured</p>
        </div>
        <div class="card-action">
          <a href="http://127.0.0.1:9393/session/login">Retry</a>
        </div>
      </div>
    </div>
  <a href="127.0.0.1:9393" class="dismiss">&times;</a>
</div>

<h2>Form on Hero Image</h2>
<div class="bg-img">
  <form action="/sesson/signup" class="container" method="post">
    <h1>FindJoey - Signup</h1>
    <div style="dispaly flex">
    <img src="/images/dog-grey.jpg" />
    <form action=url(http://127.0.0.1:9393/session/signup" method="POST">
        <div class="row">
            <div class="input-field">
                <label for="fname">First Name:</label>
                <input id="fname" type="text" name='fname' data-length="20">
            </div>
            <div class="input-field">
                <label for="lname">Last Name:</label>
                <input id="lname" type="text" name='lname' data-length='20'>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="addr_1">Address 1:</label>
                <input id="addr_1" type="text" data-length="30" name='addr_1'>
            </div>
            <div class="input-field">
                <label for="addr_2">Address 2:</label>
                <input id="addr_2" type="text" data-length="30" name='addr_2'>
            </div>
        </div>
    
    <div class="row">
        <div class="input-field">
           <label for="city">City:</label>
           <input id="city" type="text" data-length="25" name='city'>
        </div>

        <div class="input-field">
           <label for="zipcode">Zipcode:</label>
           <input id="zipcode" type="text" data-length="10" name='zipcode'>
        </div>

        <div class='input-field'>
            <label for-'state'>State:</label>
            <input id='state' type='text' data-length='2' name='state'>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
           <label for="email">Email:</label>
           <input id="email" type="text" data-length="50" name='email'>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
           <label for="phone_1">Phone #1:</label>
           <input id="phone_1" type="tel" data-length="20" name='phone_1'>
        </div>
        <div class="input-field">
           <label for="phone_2">Phone #2:>:</label>
           <input id="phone_2" type="tel" data-length="20" name='phone_2'>
        </div>
    </div>
    <div class='row'>
        <div class='input-field'>
            <label for='password'>Password:</label>
            <input id='password' type="password" data-length='20' name='password' required>
        </div>
    </div>
    <div class="input-field">
        <p>
            <label>
                <input type="checkbox" checked="checked" name='is_missing'/>
                <span>Has Pets Missing:</span>
            </label>
        </p>
    </div>
    <input type="submit" value="Signup" >
    </div>
  </form>
</div>
