
<div class="container" >
    <h2>Find Joey&copy</h2>
    <h3>Login</3>
      <div>
          <img src="/images/dog_1.jpg" style="text-align: center; margin: 20px;" height="600" width="800"/>
          <div class="input-field col s3 m6 l6">
          <form method="POST" action='/session/login' >
            <label for='email' class='label'>Email:  </label>
            <input type="text" name='email' required><br />
            <label for='password' class='label' required>Password:</label>
            <input type='password' name='password' required><br /><br />
            <input type='submit' value='Login'/>
         </form>
         </div>
      </div>
</div>