<div class="container">
    <img src="../images/pet.jpg" alt="A little puppy with sad expression."/>
    <div class="menu-items" height="250px"; width="600px">
        <form class="item" method="POST" action="/pets/delete" id="delete">
            <label for="name" >Enter Pet Name To Delete:</label><input type="text" name="name" required/>
            <input type="submit" value="Delete"/>
        </form>
    </div>
</div>