<h1>Welcome to FindJoey</h1>
<div class="bg-img">
    <img class-holding-img src="../images/dog_charging_camera.jpg" height='600' width="800" >
</div>
<div class="container">
    <h2><p>Here's a List of your pets.</p></h2>
    <ul class="aligned" width: 200px;>
        <% @pets.each do |pet| %>
        <% if pet.name == nil ? pet.name = "none" : pet.name = pet.name%><%end%>
        <li><%= pet.name %>
        <form method="POST" action="/pets/<%=pet.id%>/edit">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delet">
        </form></li>
        <% end %>
    </ul>
</div>
    <a href="/users/edit" target="_self">Edit Your Profile</a><br />
    <a href="/pets/edit" target="_self">Edit your Pets</a>    
</div>