<h1>Welcome to Find Joey&copy</h1>
<div class="bg-img">
    <img class-holding-img src="../images/dog_charging_camera.jpg"/ >
</div>
<div class="container">
    <h2>There Are a Total of </h2> <%= @missing %> <h2>Dogs Reported Missing.</h2>
    <p>Here's a List of your pets.</p>
    <ul class="aligned" width: 200px; text-align: center;>
        <% @pets.each do |pet| %>
        <% if pet.name == nil ? pet.name = "none" : pet.name = pet.name %><% end %>
        <div class="menu-items">
            <%= pet.name %>
        <% end %>
        </div>
    </ul>
</div>
    <a href="/users/edit" target="_self">Edit Your Profile</a><br />
    <a href="/pets/choice" target="_self">Add/Delete/Edit   Pets</a><br />
    <a href="/logout" target="_self">Logout</a>    
</div>