<div class=container style="text-align: align-left">
  <h2>Find Joey&copy</h2><br /><br />
  <img src="../images/dog-yellow-lab.jpg" alt="Picture of a yellow lab, with eyes closed">
    <% @pets.each do |pet| %>
    <h3 style="text-color: red;"><%pet.id%> <%= pet.name %></h3>
    <%end%>
</div>
